body{
    background-color: rgb(255, 202, 202);
    margin: 1em;
}

.image{
    max-width: 100%;
    
    
    margin: 20px;
    
    
}

.galeria{
    columns: 5 320px;
    column-gap: 0.5em ;
    
}
 
